mixin videoMixin(videoInfo)
       div
            h4=videoInfo.title
            ul 
                li #{videoInfo.rating}/10
                li #{videoInfo.comemnts} comments.
                li #{videoInfo.views} views