.empty__message {
  right: 5;
  margin-bottom: 50px;
  font-size: 18px;
}
.video__grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr);
}
.auth-switch {
  text-align: center;
  margin-top: 40px;
  a {
    text-decoration: none;
  }
  margin-bottom: 20px;
}
.error-message {
  text-align: center;
  margin-bottom: 15px;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
