include mixins/messageMixin  

// 각 페이지별로 content를 수정하기 귀찮으니 import하여서 각 페이지별로 내용만 다르게 사용
doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        if messages.error 
            +messageMixin("error", messages.error)
        if messages.info
            +messageMixin("info", messages.info)
        if messages.success
            +messageMixin("success", messages.success)
        if messages.logout 
            +messageMixin("logout", messages.logout)
        include partials/header 
        main 
            block content
        include partials/footer 
        script(src="/static/js/main.js")
    block scripts 
    
    
    