extends base.pug
include mixins/videoMixin

block content
    nav
        ul 
            li 
                a(href="/videos/upload") Video Upload 
    each video in videos
        +videoMixin(video)     
    else 
        h1 Sorry Nothing found