header
    a(href="/").header__logo
        i.fab.fa-youtube
        h1.website__name Wetube
    nav
        ul 
            li 
                a(href="/search") 
                    i.fas.fa-search
            if loggedIn          
                li 
                    a(href="/videos/upload") Video Upload     
                li 
                    a(href="/users/edit") Edit Profile
                li
                    a(href="/users/logout") Log Out
                li  
                    a(href=`/users/${loggedInUser._id}`)
                        if loggedInUser.avatarUrl === undefined
                            span #{loggedInUser.name} 님의 프로필
                        else 
                            img.header__avatar(src="/" + loggedInUser.avatarUrl)
            else 
                li 
                    a(href="/login") Login
                li 
                    a(href="/join").header__btn Join
                